name: flutter_application_1
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  font_awesome_flutter: ^10.12.0
  google_fonts: ^7.0.2
  share_plus: ^12.0.1
  url_launcher: ^6.3.2
  video_player: ^2.9.2
  dio: ^5.9.0
  youtube_player_flutter: ^9.0.3


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/


